.auth{
  width: 35px;
  height: 35px;
  display: inline-block;
}
.auth img{
 border-radius: 50%;
}
.btnLogin{
  width: 100px !important;
  background-color: #3398d4;
  color: white;
  border-radius: 5px;
  transition: all 0.3s;
}
.btnLogin:hover{
  color: #3398d4;
}